<%= div_for comment do %>
  
  <p>
    <div class="title"><%= comment.name %></div> <div class="date-time"><%= comment.created_at.strftime("%d %B, %Y") %></div>
  </p>

  <p>
    <b>Email:</b>
    <%= comment.email %>
  </p>

  <p>
    <b>Body:</b>
    <%= comment.body %>
  </p>

<%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
<%= link_to 'Delete', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %>
<% end %>