<%= div_for comment do %>
  
  <p>
    <div class="title"><%= comment.name %></div> <div class="date-time"><%= comment.created_at.strftime("%d %B, %Y") %></div>
  </p>

  <p>
    <b>Email:</b>
    <%= comment.email %>
  </p>

  <p>
    <b>Your Comment:</b>
    <%= comment.body %>
  </p>

	<% if can? :update, @post  %>
		<%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
	<% end %>
	<% if can? :delete, @post  %> 
		<%= link_to 'Delete', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %>
	<% end %>

<% end %>