<div class="wrapper">
<div class="container">
	<%= render 'header' %>
		<div class="sixteen columns">
        	<hr />
        </div> 
        <div class="twelve columns">
        	<div class="twelve columns">
				<h1>Posts</h1>
				<%= render @posts %>
				<br />
				<br />
			</div>
        </div>
        <div class="three columns offset-by-one">
			<h3>Side Nav Links</h3>
			<p>Some links are below:</p>
			<ul class="square">
				<li><%= link_to 'New Post', new_post_path %></li>
				<li><%= render(:partial => 'shared/side') %></li>
			</ul>
		</div>
	
	<%= render 'footer' %>
	
	</div><!-- container -->
	</div>
	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="javascripts/tabs.js"></script>

