<div class="wrapper">
<div class="container">
	<%= render 'header' %>
		<div class="sixteen columns">
        	<hr />
        </div> 
        <div class="twelve columns">
        	<div class="twelve columns">
			
<!--			  <tr>
				<th><h3>Title</h3></th>
				<th>Body</th>
				<th></th>
				<th></th>
				<th></th>
			  </tr>
-->			
			<% @posts.each do |post| %>
			  
				<h3><%= post.title %></h3>
				<p>Posted <%= post.created_at.strftime("%B %d, %Y") %></p>
				<p><%= post.body %></p>
				<%= link_to 'View Post', post %> | 
				<%= link_to 'Edit', edit_post_path(post) %> | 
				<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><br />
			  
			<% end %>
			
			
			<br />
			
			<%= link_to 'New Post', new_post_path %>
            <hr class="light" />
		</div>
        <div class="twelve columns">
			<h3>This is Another Blog Post</h3>
			<p>Skeleton is a small collection of well-organized CSS &amp; JS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, tabs, forms and media queries. Go ahead, resize this super basic page to see the grid in action.</p>
            <hr class="light" />
		</div>
        <div class="twelve columns">
			<h3>This Site Brought to You By...</h3>
			<p>Skeleton is a small collection of well-organized CSS &amp; JS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, tabs, forms and media queries. Go ahead, resize this super basic page to see the grid in action.</p>
            <p><a href="http://www.getskeleton.com/#examples" target="_blank">Find out more about Skeleton here</a></p>
		</div>
        </div>
        <div class="three columns offset-by-one">
			<h3>Side Nav Links</h3>
			<p>Some links are below:</p>
			<ul class="square">
				<li><a href="#">Side Nav Link #1</a></li>
				<li><a href="#">Side Nav Link #2</a></li>
				<li><a href="#">Side Nav Link #3</a></li>
			</ul>
		</div>
	
	<%= render 'footer' %>
	
	</div><!-- container -->
	</div>
	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="javascripts/tabs.js"></script>

